<!--START CONTACT-->
<section class="section" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1 class="section-title text-center">Get In Touch</h1>
        <div class="section-title-border margin-t-20"></div>
        <p class="section-subtitle text-muted text-center font-secondary padding-t-30">We aim to provide great customer
          service. For any questions give up a call or fill out the email form. We will do our best to respond in a timely manner. Thanks,</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="mt-4 pt-4">
          <p class="mt-4"><span class="h5">Mailing address:</span><br><span class="text-muted d-block mt-2">PO Box 100 Valley, Washington 99181</span></p>
          <p class="mt-4"><span class="h5">Phone:</span><br><span class="text-muted d-block mt-2"><a href="tel:5099362681">509 936 2681</a></span></p>
          <p class="mt-4"><span class="h5">Email:</span><br><span class="text-muted d-block mt-2"><a href="mailto:sullivanexcavatinginc@gmail.com">sullivanexcavatinginc@gmail.com</a></span></p>
          <p class="mt-4"><span class="h5">WA LIC #:</span><br><span class="text-muted d-block mt-2">SULLIEI815D5</span></p>
          <p class="mt-4"><span class="h5">Hours:</span><br><span class="text-muted d-block mt-2">8:00 AM to 6:00 PM or until the job is done</span></p>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="custom-form mt-4 pt-4">
          <div id="message"></div>
          <form method="post" action="php/contact.php" name="contact-form" id="contact-form">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group mt-2">
                  <input name="name" id="name" type="text" class="form-control" placeholder="Your name*">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group mt-2">
                  <input name="email" id="email" type="email" class="form-control" placeholder="Your email*">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group mt-2">
                  <input type="text" class="form-control" id="subject" placeholder="Your Subject.." />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group mt-2">
                  <textarea name="comments" id="comments" rows="4" class="form-control"
                    placeholder="Your message..."></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 text-right">
                <input type="button" id="submit" name="send" class="submitBnt btn btn-custom" value="Send">
                <div id="simple-msg"></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--END CONTACT-->